<!DOCTYPE HTML>
<html>
<head>
    <title>Allied a corporate Category Flat Bootstrap Responsive  Website Template | Home :: w3layouts</title>
    <link href="/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link href="/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Allied  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--Google Fonts-->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    <!--google fonts-->
    <script src="/Content/js/jquery-1.11.0.min.js"></script>
    <script src="/Content/js/bootstrap.min.js"></script>

</head>
<body>
    <!--header-top start here-->
    <div class="top-header">
        <div class="container">
            <div class="top-header-main">
                <div class="col-md-8 header-address">
                    <ul>
                        <li><span class="phone"> </span> <h6>+49(220) 280-31589</h6></li>
                        <li><span class="email"> </span><h6><a href="mailto:deutschebank.de">info@deutschebank.de</a></h6></li>
                    </ul>
                </div>
                <div class="col-md-4 top-social">
                    <ul>
                        <li><a href="#"><span class="fb"> </span></a></li>
                        <li><a href="#"><span class="tw"> </span></a></li>
                        <li><a href="#"><span class="in"> </span></a></li>
                        <li><a href="#"><span class="gmail"> </span></a></li>
                    </ul>
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--header-top end here-->
    <!--header start here-->
    <!-- NAVBAR
        ================================================== -->
    <div class="header w3l">
        <div class="fixed-header">

            <div class="navbar-wrapper">
                <div class="container">
                    <nav class="navbar navbar-inverse navbar-static-top">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="logo">
                                <h1><a class="navbar-brand" href="index.html">Deutschebank AG</a></h1>
                            </div>
                        </div>
                            <div id="navbar" class="navbar-collapse collapse">
                             <ul class="nav navbar-nav">
                                    <li><a class="" href="index.html" data-hover="Home">Start</a></li>
                                    <li><a href="about.html" data-hover="About">Kreditrechner</a></li>
                                    <li><a href="services.html" data-hover="Services">Service</a></li>
                                    <li><a href="contact.html" data-hover="Contact">Kontakt</a></li>
                                </ul>
                                </div>

                            </nav>
                            
                        </div>
                        <div class="clearfix"> </div>
                    
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    
    <!--header end here-->
    <!--banner  start hwew-->
    <div class="banner">
        <div class="container">
            <div class="banner-main">
                @*<h4>Welcome To Our Design</h4>
                <h2>Corporate  Agency</h2>
                <span class="ban-line"> </span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                <a href="contact.html">Get in Touch</a>*@
            </div>
        </div>
    </div>
    <!--BANNER END HERE-->
    <!--welcome strat here-->
    <div class="welcome">
        <div class="container">
            <div class="welcome-main">
                <div class="welcome-top">
                    <h3>Aktuelle Angebote</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                </div>
                <div class="welcome-bottom">
                    <div class="col-md-3 welcome-w3agile wel-1">
                        <i class="wel-num"><img src="images/1.png" alt=""> </i>
                        <span class="wel-icon1"> </span>
                        <h3>Baufinanzierung</h3>
                        <p>Top-Konditionen für Ihr Immobilienvorhaben.</p>
                    </div>
                    <div class="col-md-3 welcome-w3agile wel-2">
                        <i class="wel-num"><img src="images/2.png" alt=""> </i>
                        <span class="wel-icon2"> </span>
                        <h3>FinanzCheck</h3>
                        <p>Finanzen analysieren. Gemeinsam optimieren..</p>
                    </div>
                    <div class="col-md-3 welcome-w3agile wel-3">
                        <i class="wel-num"><img src="images/3.png" alt=""> </i>
                        <span class="wel-icon3"> </span>
                        <h3>Kreditrechner</h3>
                        <p>Top Kondition für Ihren Konsumerkredit</p>
                    </div>
                    <div class="col-md-3 welcome-w3agile wel-4">
                        <i class="wel-num"><img src="images/4.png" alt=""> </i>
                        <span class="wel-icon4"> </span>
                        <h3>Depotwechsel</h3>
                        <p>Lorem ipsum dolor sit amet adipiscing.Exercitationem  corporis suscipit.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
   

        @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
